html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b, strong{
	font-weight: bold;
}
i, em{
	font-style: italic;
}

/* - - - - - S T A R T - H E R E - - - - - */

/* Grid */

.container {
	width: 960px;
	margin: 0 auto;
}  
.col-1,
.col-2,
.col-3 {
	margin-left: 10px;
	margin-right: 10px;
}
.col-1 {
	float: left;
	width: 220px;
	text-align: center;
}
.col-2 {
	width: 460px;
}
.col-3 {
	float: right;
	width: 700px;
}
.qaleft,
.qaright{
	float: left;
}
.qaleft{
	width: 20px;
}
.qaright{
	width: 940px;
}

/* Clearfix */

.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	*zoom: 1;
}

/* Custom Styles */

body{
	background: white;
	color: black;
	font: 16px Helvetica;
	margin: auto;
	margin-bottom: 20px;
}
section{
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 10px;
	padding-top: 10px;
}

/* Typography */

h1, h2, h3, h4{
	color: black;
	font-weight: bold;
}
h1{
	font-size: 50px;
}
.main-header h1{
	text-shadow: 3px 2px 0 #666;
}
h2{
	font-size: 36px;
	color: #666;
	text-shadow: 2px 2px 3px black;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 16px;
}
p{
	font-size: 16px;
	padding-bottom: 10px;
}

/* Links */

a{
	color: #666;
	text-decoration: none;
}
a:hover{
	color: #1570a6;
}

/* Lists */

.navlist{
	list-style: none;
}
.conquests li{
	padding: 5px;
}
.conquests h3{
	text-decoration: underline;
}

/* Misc Styles */

.team{
	border-radius: 50%;
	padding-top: 15px;
}
.center{
	color: #666;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}
.center-join{
	text-align: center;
}
.button{
	background-color: #1570a6;
	border: 2px black ridge;
	margin: 10px auto;
	padding: 2px;
	width: 40px;
}
.button a{
	color: black;
}
.button:hover{
	background-color: #e5e5e5;
}

/* Header */

.main-header{
	background-color: black;
}

/* Name */

.name{
	color: white;
	float: left;
	font-weight: bolder;
	margin-left: 10px;
}

/* Nav */

.main-nav{
	float: right;
	margin-top: 135px;
}	
.main-nav li{
	display: inline;
	margin: 0 15px;
}
/* Footer */
footer{
	border-bottom: 2px solid #e5e5e5;
	padding-bottom: none;
}

footer li{
	display: inline;
	font-size: 28px;
}
footer a{
	color: red;
}
footer img{
	padding-top: 8px;
}
footer a:hover{
	color: yellow;
}
#join{
	float: right;
	padding-top: 30px;
	text-shadow: 1px 2px 8px black;
}